<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Boot App</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>

  <body class="homepage">
    <script>
      window.onload = function () {
        var currentTime = new Date().getHours();
        var greeting = document.getElementById("greeting");

        if (currentTime < 12) {
          greeting.innerHTML = "Good Morning Xavier, Welcome to COMP367";
        } else {
          greeting.innerHTML = "Good Afternoon";
        }
      };
    </script>

    <!-- Header -->
    <div id="header">
      <div class="container">
        <!-- Logo -->

        <!-- Nav -->
        <nav id="nav"></nav>

        <!-- Banner -->
        <div id="banner">
          <div class="container">
            <section>
              <header class="major">
                <h2>Welcome to COMP367</h2>
                <h2 id="greeting"></h2>
              </header>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- Featured -->
    <div class="wrapper style2">
      <section class="container">
        <header class="major"></header>
      </section>
    </div>
  </body>
</html>
